.ipynb_checkpoints/
google_scraping/__pycache__
google_scraping/data.zip
google_scraping/data
google_scraping/data_costco
google_scraping/gm-scraper.log
wordcloud1.png
wordcloud2.png
wordcloud3.png
wordcloud4.png
wordcloud5.png
tableau/tableau_groupon.csv
